[submodule "eme-plugin-finder"]
	path = plugins/finder/html
	url = https://github.com/entermedia-community/eme-plugin-finder.git
	branch = main
    depth = 1
[submodule "plugins/finder/html"]
	path = plugins/finder/html
	url = https://github.com/entermedia-community/eme-lib.git
	branch = main
